@font-face {
  font-family: poppins;
  src: url("../fonts/POPPINS-LIGHT.TTF");
  font-weight: 300;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/POPPINS-REGULAR.TTF");
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/POPPINS-MEDIUM.TTF");
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/POPPINS-SEMIBOLD.TTF");
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/POPPINS-BOLD.TTF");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: poppins;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: cover;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}


