/*
COLORS
*/

$black: #212529;
$black2: #45484b;
$grey1: #636363;
$grey2: #7a858d;
$grey3: #9bb0bf;
$grey4: #e7e7e7;
$grey5: #9da2aa;
$grey6: #fbfbfb;
$grey7: #545c61;
$grey8: #f6f8fa;
$aqua: #04a9f4;
$green: #36d68c;
$greyish-blue: #e0e7f0;
$blue: #11428c;
$blue2: #6282b3;
$light-blue: #0b99e3;
$green-blue: #37d592