.footer {
  background-color: #f5fbff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  &__inner {
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include smallUp {
      flex-direction: row;
      align-items: baseline;
    }
    p, a {
      font-size: 10px;
      line-height: 24px;
      @include largeUp {
        font-size: 12px;
      }
      &.copy {
        color: $grey7;
      }
      &.url {
        color: $blue;
      }
    }
  }
}