.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -66px;
  &__inner {
    padding: 24px 25px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p, a {
      font-size: 12px;
      line-height: 24px;
      &.copy {
        color: $grey7;
      }
      &.url {
        color: $blue;
      }
    }
  }
}