.header {
  color: #fff;
  &__inner {
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include xSmallUp {
      flex-wrap: nowrap;
    }
  }
  &__logo {
    padding: 12px 25px 9px;
    background-color: #fff;
    width: 100%;
    @include xSmallUp {
      width: unset;
    }
    img {
      width: 24px;
      height: 40px;
      margin-right: 7px;
    }
    &-name {
      color: $aqua;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
    }
    @include xLargeUp {
      display: none !important;
    }
  }
  &__welcome {
    padding: 12px 25px 9px;
    display: none;
    @include largeUp {
      display: flex;
      align-items: center;
    }
    p {
      font-weight: 300;
      margin: 0;
    }
  }
  &__user {
    padding: 12px 25px 9px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    @include xSmallUp {
      justify-content: center;
      width: unset;
    }
    &-updates {
      margin-right: 25px;
      &-icon {
        position: relative;
        &:first-child {
          margin-right: 40px;
        }
        i {
          font-size: 15px;
        }
      }
      &-count {
        position: absolute;
        top: -7px;
        left: 7px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $green-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 9px;
          font-weight: 500;
          line-height: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &-icon {
      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    }
  }
  &__menu-icon {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 70;
    i {
      font-size: 18px;
    }
    @include xLargeUp {
      display: none;
    }
  }
}