.input {
  border: none;
  border-bottom: 1px solid #c9c9c9;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.invalid-input {
  border-bottom-color: #9e3852 !important;
}

span.invalid-input-msg {
  color: #9e3852;
  font-size: 12px;
  visibility: hidden;
  &--visible {
    visibility: visible;
  }
}

.input-label {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $blue !important;
}
