.latest-tenders {
  padding: 50px 25px 0;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title {
    h2 {
      font-size: 30px;
      color: $black2;
      margin: 0;
    }
  }
  &__add-btn {
    a {
      i {
        margin-right: 9px;
      }
    }
  }
}