.page-layout {
  &__row {
    background-color: red;
    display: flex;
  }
  &__left-pane {
    width: 310px;
    background-color: #fff;
    background-image: url("../images/left-pane/side-pane.png");
    background-size: 310px auto;
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-bottom: 80px;
    position: relative;
  }
  &__right-pane {
    width: calc(100% - 310px);
    background-color: #fff;
    height: 1000px;
  }
}