.pagination {
  &-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-numbers {
    font-size: 14px;
    color: #626467;
    background-color: #d9e5ee;
    margin: 0 5px;
    line-height: 1;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }
  .prev.disabled,
  .next.disabled {
    color: #a8bac7;
  }
  .prev,
  .next {
    font-size: 18px;
    color: #626467;
  }
  .prev {
    margin-#{$end-direction}: 25px;
  }
  .next {
    margin-#{$start-direction}: 25px;
  }
  .page-numbers.disabled,
  .page-numbers:hover {
    color: #fff;
    background-color: $aqua;
  }
}