.latest-tenders {
  padding: 50px 25px 0;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 45px;
    @include mediumUp {
      flex-direction: row;
      align-items: center;
    }
  }
  &__title {
    h2 {
      font-size: 18px;
      color: $black2;
      margin: 0 0 20px 0;
      @include largeUp {
        margin: 0;
        font-size: 22px;
      }
    }
  }

  &__add-btn {
    a {
      font-size: 10px;
      @include largeUp {
        font-size: 12px;
      }
      i {
        margin-#{$end-direction}: 9px;
      }
    }
  }
}

.tender-company {
  padding: 0 25px;
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    h1 {
      font-size: 22px;
      color: $black2;
      margin: 0;
      margin-#{$end-direction}: 33px;
    }
    img {
      max-height: 50px;
      max-width: 100%;
      width: auto;
    }
  }
  &__table {
    margin-bottom: 40px;
  }
  &__doc {
    &-title {
      font-size: 16px;
      font-weight: 500;
      color: $black;
      margin-bottom: 30px;
    }
    &-download {
      display: inline-block;
      margin-bottom: 45px;
      a {
        display: flex;
        align-items: flex-end;
        line-height: 1.2;
        img {
          width: 44px;
          height: 50px;
          margin-#{$end-direction}: 10px;
        }
        p {
          font-size: 14px;
          color: $aqua;
          border-bottom: 1px solid $aqua;
          padding-bottom: 1px;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  &__interest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include smallUp {
      flex-direction: row;
      align-items: center;
    }
    span {
      font-size: 13px;
      font-weight: 600;
      color: $grey2;
      letter-spacing: 1.85px;
      margin: 20px 0;
      text-align: center;
      width: 100%;
      @include smallUp {
        width: unset;
        margin: 0 40px;
      }
    }
    a {
      width: 100%;
      font-size: 12px;
      i {
        margin-#{$start-direction}: 8px;
      }
      @include smallUp {
        width: 200px;
      }
    }
    #not-interested {
      background-color: #aebbc4;
    }
  }
  &__querry {
    margin-bottom: 77px;
    &-title {
      font-size: 16px;
      color: $blue;
      margin-bottom: 50px;
    }
    form {
      input.input {
        display: block;
        width: 100%;
        font-size: 14px;
        margin-bottom: 60px;
        color: $grey1;
        &::placeholder {
          color: #a6b8d2;
        }
      }
      button {
        width: 220px;
        font-size: 12px;
        i {
          margin-#{$start-direction}: 8px;
        }
      }
    }
  }
}

.bid-detail {
  background-color: #f5fbff;
  padding: 35px 25px 100px;
  margin-bottom: 40px;
  &__title {
    margin-bottom: 65px;
    font-size: 22px;
    color: $black2;
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    input {
      width: 100%;
      font-size: 14px;
      color: $grey1;
      &::placeholder {
        color: #a6b8d2;
      }
      &:first-child {
        margin-bottom: 40px;
        @include smallUp {
          margin-bottom: 0;
        }
      }
      @include smallUp {
        width: 45%;
      }
    }
  }
}

.bids-cards {
  margin-bottom: 20px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 200px;
    margin: 0 !important;
    transition: 0.4s;
    box-shadow: none;
    border: 1px solid rgba(209, 217, 222, 0.28);
    border-radius: 0;
    margin-bottom: 30px !important;
    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  &__text {
    margin-#{$end-direction}: 20px;
    span {
      font-size: 12px;
      color: $black;
    }
    p {
      font-size: 22px;
      color: $blue;
      font-weight: 500;
      line-height: 1;
    }
  }
  &__count {
    font-size: 22px;
    color: $grey3;
  }
}

.send-doc {
  margin-bottom: 10px;
  &__title {
    font-size: 16px;
    color: $blue;
    margin-bottom: 50px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
    .send-doc__input {
      width: 100%;
      margin: 0 0 30px 0;
      @include smallUp {
        width: 75%;
        margin: 0;
        margin-#{$end-direction}: 50px;
      }
      input.input {
        width: 100%;
        font-size: 14px;
        color: $grey1;
        &::placeholder {
          color: #a6b8d2;
        }
      }
    }
    button {
      width: 100%;
      font-size: 12px;
      @include smallUp {
        width: calc(25% - 50px);
      }
      i {
        margin-#{$start-direction}: 8px;
      }
    }
  }
}

.bids-download {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  @include smallUp {
    flex-direction: row;
  }
  img {
    width: 30px;
    height: 40px;
    margin-#{$end-direction}: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 500;
  }
  &__bids-received {
    margin-bottom: 30px;
    @include smallUp {
      margin-bottom: 0;
    }
    a {
      margin-#{$end-direction}: 80px;
      display: flex;
      align-items: center;
      p {
        color: $green-blue;
      }
    }
  }
  &__invited-bidders {
    a {
      display: flex;
      align-items: center;
      p {
        color: $blue;
      }
    }
  }
}

.unread-querries {
  padding: 60px 25px;
  h3.title {
    margin-bottom: 40px;
  }
  .table td:first-child {
    color: #9e3852;
  }
}

.previous-querries {
  padding: 0 25px;
  h3.title {
    margin-bottom: 40px;
  }
}

.new-tender,
.company-info {
  padding: 0 25px;
  &__form {
    form {
      input {
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: $grey2;
        &::placeholder {
          color: $grey2;
          font-size: 14px;
        }
      }
      label {
        color: $grey2;
        font-size: 25px;
      }
      select {
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #c9c9c9;
        width: 100%;
        color: $grey2;
        font-size: 14px;
        &:focus {
          outline: none;
        }
      }
      .row {
        &:not(:last-child) {
          @include largeUp {
            margin-bottom: 70px;
          }
        }
      }
      .row .col-lg {
        margin-bottom: 70px;
        @include largeUp {
          padding: 0 25px;
        }
        &:first-child {
          @include largeUp {
            padding-#{$end-direction}: 25px;
            padding-#{$start-direction}: 0;
          }
        }
        &:last-child {
          @include largeUp {
            padding-#{$start-direction}: 25px;
            padding-#{$end-direction}: 0;
          }
        }
      }
      .file-input {
        display: flex;
        align-items: flex-end;
        position: relative;
        span {
          position: absolute;
          top: 0;
          #{$start-direction}: 0;
          bottom: 0;
          width: 100%;
          border-bottom: 1px solid #c9c9c9;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          align-items: flex-end;
          color: $grey2;
          cursor: pointer;
        }
        input {
          visibility: hidden;
        }
        label {
          position: absolute;
          #{$end-direction}: 0;
          width: 20%;
          height: 100%;
          margin: 0;
          background-color: #eaeaea;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 1.85px;
          cursor: pointer;
        }
      }
      .date-input {
        position: relative;
        label {
          position: absolute;
          #{$end-direction}: 0;
          top: -10px;
          @include smallUp {
            #{$end-direction}: 45px;
          }
        }
        &:last-child {
          label {
            @include largeUp {
              #{$end-direction}: 20px;
            }
          }
        }
      }
      .companies {
        display: flex;
        &__item {
          margin-bottom: 30px;
          input {
            display: none;
            &:checked ~ label {
              .card {
                border: 1px solid $aqua;
                background-color: #f7fcff;
              }
              span.checkbox {
                i {
                  color: $grey1;
                }
              }
            }
          }
          label {
            height: 100%;
            width: 100%;
            position: relative;
            cursor: pointer;
            span.checkbox {
              position: absolute;
              width: 25px;
              height: 25px;
              top: 20px;
              #{$end-direction}: 20px;
              border: 1px solid $grey1;
              border-radius: 3px;
              i {
                position: absolute;
                top: 50%;
                #{$start-direction}: 50%;
                transform: translate(-50%, -50%);
                font-size: 18px;
                color: transparent;
              }
            }
            .card {
              margin: 0 !important;
              margin-bottom: 60px !important;
              transition: 0.4s;
              box-shadow: none;
              border: 1px solid rgba(209, 217, 222, 0.28);
              border-radius: 0;
              min-height: 100%;
              &:hover {
                box-shadow: 0;
              }
              .card-body {
                padding: 60px 25px 10px;
                hr {
                  margin: 25px 0;
                }
              }
            }
            .company {
              &-logo {
                margin-bottom: 24px;
                img {
                  max-height: 80px;
                  max-width: 90%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              &-name {
                h5 {
                  margin: 0;
                  font-size: 16px;
                  font-weight: 500;
                  color: $grey2;
                }
              }
              &-networth {
                margin-bottom: 30px;
                &__text {
                  font-size: 16px;
                  color: $blue;
                  font-weight: 500;
                  margin-bottom: 5px;
                }
                &__amount {
                  font-size: 16px;
                  font-weight: 500;
                  color: $grey3;
                }
              }
              &-profile-link {
                a {
                  font-size: 14px;
                  font-weight: 500;
                  color: $grey2;
                  i {
                    font-size: 14px;
                    margin-#{$start-direction}: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .send-search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 80px;
        @include smallUp {
          align-items: center;
          flex-direction: row;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          color: $grey2;
          letter-spacing: 1.85px;
          margin: 20px 0;
          text-align: center;
          width: 100%;
          @include smallUp {
            width: unset;
            margin: 0 40px;
          }
        }
        a,
        button {
          width: 100%;
          font-size: 12px;
          i {
            margin-#{$start-direction}: 8px;
          }
          @include smallUp {
            width: 200px;
          }
        }
        #search {
          background-color: #aebbc4;
        }
      }
    }
  }
}

.company-info {
  padding: 0;
  &__head {
    padding: 0 25px;
  }
  &__form-section {
    padding: 0 25px;
  }
  &__form-subtitle {
    margin-bottom: 40px;
    h3 {
      font-size: 16px;
      font-weight: 500;
      color: $grey1;
    }
  }
  &__form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    input {
      flex-shrink: 0;
      width: 20px !important;
      height: 20px !important;
      margin-#{$end-direction}: 10px;
    }
    label {
      margin: 0;
      font-size: 14px !important;
      color: $grey2 !important;
    }
  }
  .sub-row {
    input {
      height: 30px;
      padding: 0 !important;
    }
    .input:first-child {
      @include largeUp {
        margin-#{$end-direction}: 15px;
      }
    }
    .input:last-child {
      @include largeUp {
        margin-#{$start-direction}: 15px;
      }
    }
  }
  hr {
    margin-bottom: 70px;
  }
  &__form-checkbox-q {
    p {
      color: $grey2;
    }
    .company-info__form-checkbox:first-child {
      margin-#{$end-direction}: 30px;
    }
  }
  .file-input {
    padding: 0 !important;
    span {
      #{$start-direction}: 0 !important;
      width: 100% !important;
    }
  }
  .save {
    padding: 0 25px;
  }
  input,
  select {
    &:only-child {
      padding: 0 !important;
    }
  }
}
