.table-component {
  overflow: auto;
  .table {
    min-width: 1200px;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;
  }
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
  }
  table.table-hover tbody tr:hover {
    transition: 0.5s;
    background-color: #f5fbff !important;
  }
  .table thead {
    background-color: $grey8;
    border-top: 1px solid $grey4;
    border-bottom: 1px solid $grey4;
  }
  .table thead tr th {
    font-size: 10px;
    color: $grey1;
    font-weight: 500;
    padding: 25px;
    @include largeUp {
      font-size: 12px;
    }
  }
  .table tbody tr td {
    font-size: 12px;
    color: $grey3;
    padding: 25px;
    @include largeUp {
      font-size: 14px;
    }
  }
  .table tbody tr td button.btn,
  .table tbody tr td a.btn {
    font-size: 10px;
  }
  .table td,
  .table th {
    border: none !important;
  }
  table.table td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
  .no-tenders {
    margin-top: 100px;
    text-align: center;
    p {
      font-size: 24px;
      color: $black2;
      margin: 16px 0 0;
    }
    span {
      font-size: 16px;
      color: #a4a6a7;
    }
  }
}

.dates-table {
    min-width: 630px !important;
}
