.tenders-search {
  padding: 0 25px;
  &__bar {
    margin-bottom: 57px;
    position: relative;
    input {
      width: 100%;
      font-size: 20px;
      color: #939597;
      padding-bottom: 20px;
      padding-#{$end-direction}: 50px;
    }
    label {
      position: absolute;
      top: 7.5px;
      #{$end-direction}: 0;
      i {
        color: $black2;
        font-size: 20px;
      }
    }
  }
  &__results {
    &-items {
      justify-content: center;
      @include largeUp {
        justify-content: flex-start;
      }
      .card {
        margin: 0 !important;
        margin-bottom: 60px !important;
        transition: 0.4s;
        box-shadow: none;
        border: 1px solid rgba(209, 217, 222, 0.28);
        border-radius: 0;
        min-height: 100%;
        &:hover {
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
    &-item {
      width: 336px;
      margin-bottom: 20px;
      .card-body {
        padding: 35px 25px 10px;
        hr {
          margin: 25px 0;
        }
      }
      .company {
        &-logo {
          margin-bottom: 24px;
          img {
            max-height: 80px;
            object-fit: cover;
            object-position: center;
          }
        }
        &-name {
          h5 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            color: $grey2;
          }
        }
        &-networth {
          margin-bottom: 30px;
          &__text {
            font-size: 16px;
            color: $blue;
            font-weight: 500;
            margin-bottom: 5px;
          }
          &__amount {
            font-size: 16px;
            font-weight: 500;
            color: $grey3;
          }
        }
        &-profile-link {
          a {
            font-size: 14px;
            font-weight: 500;
            color: $grey2;
            i {
              font-size: 14px;
              margin-#{$start-direction}: 8px;
            }
          }
        }
      }
    }
  }
}
